
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*navigation bar */  
.topNav{ 
    overflow: hidden;
    background-color: #7ab4c7;
    margin-top: 10px;
    border-radius: 30px;
}

/* links inside the navigation bar */
.topNav a{
    float: left;
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 20px 48px;
    text-decoration: none;
    font-size: 17px;
}

.topNav img{
    float: left;
    padding: 266px 48px;
}

.topNavCenter {
    float: center;
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* "active" element to highlight the current page */
.topNav a.active {
    background-color: #dfcd58;
    color: white;
}

/* search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.flexHomeContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backgroundImage1{
    width: 100%;
    align-items: center; /*The background image is not the full width of the page*/
}

h1{
        max-width: 607px;
        text-align: center;
        margin: auto;
        font-size: 48px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
}
      
h2{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
}

.flexHomeContainer2{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #ff0000;
}

.flexHomeItem1 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer3{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ff0000;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.button1 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexHomeContainer4{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.flexHomeContainer5{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: #000000;
}

.flexHomeItem2 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer6{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.row {
    display: flex;
}
  
  .column {
    flex: 25%;
    padding: 5px;
}

.button2 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*Contact Page starts here..............................................................................................................................*/

.flexContactContainer{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.backgroundImage2{
    width: 100%;
    align-items: center; /*The background image is not the full width of the page*/
}

.main-heading{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.rootFont{
    font-family: 'Poppins', sans-serif;
}

h5{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flexContactContainer1{
    display: flex;
}

.flexContactItem1{
    width: 350px;
}

.flexContactContainer2{
    display: flex;
}

.flexContactItem2{
    width: 350px;
}

.flexContactContainer3{
    display: flex;
}

.flexContactItem3{
    width: 350px;
}

.flexContactContainer4{
    display: flex;
}

.flexContactItem4{
    width: 350px;
}

.flexContactContainer5{
    display: flex;
}

.flexContactItem5{
    width: 350px;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-web_font.woff) format("woff");
}

.rootFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
}

.backgroundImage3 {
    width: 607px;
    height: 700px;
    text-align: center;
    background-image: url(../assets/Red\ Planet\ Ventures/.formBack);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flexRight{
    display: flex;
    width: 607px;
    height: 700px;
}

.formContainer{
    width: 607px;
    height: 700px;
    text-align: center; 
} 

.submitButton {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/*the form ends here*/

/*Flight page starts here..............................................................................................................................*/

.flexHeaderContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexHeaderContainer2{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexbox1{
    display: flex;
    width: 50%;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexbox2 {
    display: flex;
    width: 50%;
}

#Show {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#Sort_by {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.flexFlightItem p1{
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20%;
    color: #0035f6;
}

.flexFlightContainer1{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
  }

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem1 img{
    width: 350px;
    margin-left: 20px;
}

.button3 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.flexFlightContainer2{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem2 img{
    width: 350px;
    margin-left: 20px;
}

.button4 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.flexFlightContainer3{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem3 img{
    width: 350px;
    margin-left: 20px;
}

.button5 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.flexFlightContainer4{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem4 img{
    width: 350px;
    margin-left: 20px;
}

.button6 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.flexFlightContainer5{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem5 img{
    width: 350px;
    margin-left: 20px;
}

.button7 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.flexFlightContainer6{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.flexFlightItem6 img{
    width: 350px;
    margin-left: 20px;
}

.button8 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button9 {
    background-color: #c20000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexFooterContainer1{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterItem1{
    width: 266px, 48px;
}

.flexFooterContainer2{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterContainer3{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterItem2{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem3{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem4{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem5{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterContainer4{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterItem6{
    flex-direction: column;
    float: left;
}

.flexFooterItem7{
    flex-direction: column;
    float: right;
}
