
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

  
.topNav{
    overflow: hidden;
    background-color: #7ab4c7;
}

.topNav a{
    float: left;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
}

.topNav img{
    float: left;
    padding: 266px 48px;
}

.topNavRight {
    float: right;
}

.topNav a:Hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: #dfcd58;
    color: white;
}

.flexHomeContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backgroundImage1{
    width: 100%;
    align-items: center; /*The background image is not the full width of the page*/
}

.main-headingHome{
        max-width: 607px;
        text-align: center;
        margin: auto;
        font-size: 48px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
}
      
.SubheadingHome{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
}

.flexHomeContainer2{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #ff0000;
}

.flexHomeItem1{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer3{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ff0000;
    text-align: right;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    border-width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', semi-bold;
  }

.flexHomeContainer4{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.flexHomeContainer5{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: #000000;
}

.flexHomeItem2{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer6{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 5px;
  }

.button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    border-width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', semi-bold;
  }

/*Contact Page starts here..............................................................................................................................*/

.flexContactContainer1{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
.backgroundImage2{
    width: 100%;
    align-items: center; /*The background image is not the full width of the page*/
}

.main-headingHome{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

Body{ /*this is the form*/
    margin: 0;
}/*should it be body or pbody for the form?*/

h1{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff) format("woff");
}*/

.rootFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
}

.backgroundImage{
    width: 607px;
    height: 700px;
    text-align: center;
    background-image: url(../assests/Red\ Planet\ Ventures/.formBack);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flexContainer{
    display: flex;
    width: 607px;
    height: 700px;
}

.formContainer{
    width: 607px;
    height: 700px;
    text-align: center; 
} /*the form ends here*/

/*Flight page starts here..............................................................................................................................*/

.flexContactContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.backgroundImage2{
width: 100%;
align-items: center; /*The background image is not the full width of the page*/
}

.main-headingHome{
max-width: 607px;
text-align: center;
margin: auto;
font-size: 48px;
font-family: 'Poppins', sans-serif;
}

.flexFlightItem p1{
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20%;
    color: #0035f6;
}

.flexFlightItem1{
    flex:50%;
}

.flexFlightItem1 img{
    width: 50%;
    margin-left: 20px;
}

.flexFlightItem2{
    flex:50%;
}

.flexFlightItem2 img{
    width: 50%;
    margin-left: 20px;
}


.flexFlightItem3{
    flex:50%;
}

.flexFlightItem3 img{
    width: 50%;
    margin-left: 20px;
}

.flexFlightItem3{
    max-height: 88%;
    font-size: 20px;
    margin: 10px;
}

.flexFlightItem4{
    flex:50%;
}

.flexFlightItem4 img{
    width: 50%;
    margin-left: 20px;
}


.flexFlightContainer5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin: 40px;
}

.flexFlightItem5{
    flex:50%;
}

.flexFlightItem5 img{
    width: 50%;
    margin-left: 20px;
}

.flexFlightContainer6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.flexFlightItem6{
    flex:50%;
}

.flexFlightItem6 img{
    width: 50%;
    margin-left: 20px;
}

.flexFooterContainer1{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterItem1{
    width: 266px, 48px;
}

.flexFooterContainer2{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterContainer3{
    flex: auto;
    flex-direction: row;
    width: auto;
}

.flexFooterItem2{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem3{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem4{
    flex-direction: column;
    width: 77px, 77px;
}

.flexFooterItem5{
    flex-direction: column;
    width: 77px, 77px;
}