
body {
    margin: 0;
    font-family: 'Sacramento';
}

Pbody{
    margin: 0;
}

h1{
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: #000000;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    font-style: normal;
}


p{
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    font-style: normal;
    margin: 607px;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff)format("woff");
}

.rootFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
}

.backgroundImage{
    width: 607px;
    height: 700px;
    text-align: center;
    background-image: url(../assests/Red\ Planet\ Ventures/.formBack);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flexContainer{
    display: flex;
    width: 607px;
    height: 700px;
}

.formContainer{
    width: 607px;
    height: 700px;
    text-align: center;
}

.flexFlightItem1 p1{
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20%;
    color: #0035f6;
}

.flexFlightItem3{
    max-height: 88%;
    font-size: 20px;
    margin: 10px;
}

.flexFlightContainer5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin: 40px;
}

.flexFlightItem5{
    flex:50%;
}

.flexFlightItem5 img{
    width: 50%;
}

.flexFlightContainer6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.flexFlightItem6{
    flex: 50%;
}

.flexFlightContainer10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}