
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/*navigation bar */  
.topNav{ 
    overflow: hidden;
    background-color: #7ab4c7;
    margin-top: 10px;
    padding: 15px;
    border-radius: 30px;
}

/* links inside the navigation bar */
.topNav a{
    float: left;
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 20px 48px;
    text-decoration: none;
    font-size: 17px;
}

.topNav img{
    float: left;
    padding: 26px 48px;
}

.topNavCenter {
    float: center;
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* "active" element to highlight the current page */
.topNav a.active {
    background-color: #dfcd58;
    color: white;
}

/* search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.flexHomeContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexHomeContainer1{
    width: 100%;
    align-items: center; 
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/homePageHeader.png);
    background-size: cover;
    height: 350px;
}

h1{
        max-width: 607px;
        text-align: center;
        margin: auto;
        font-size: 48px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
}
      
h2{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
}

.flexHomeContainer2{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #ff0000;
}

.flexHomeItem1 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer3{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-right: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ff0000;
    text-align: center;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.button1 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexHomeContainer4{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.flexHomeContainer5{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: #000000;
}

.flexHomeItem2 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer6{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}

.row {
    display: flex;
}
  
  .column {
    flex: 25%;
    padding: 5px;
}

.button2 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*Contact Page starts here..............................................................................................................................*/

.flexContactContainer{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.flexContactContainer{
    width: 100%;
    align-items: center; 
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/headerbackBack.png);
    background-size: cover;
    height: 350px;
}

.main-heading{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.rootFont{
    font-family: 'Poppins', sans-serif;
}

h5{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flexContactContainer1{
    display: flex;
}

.flexContactItem1{
    width: 350px;
}

.flexContactContainer2{
    display: flex;
}

.flexContactItem2{
    width: 350px;
}

.flexContactContainer3{
    display: flex;
}

.flexContactItem3{
    width: 350px;
}

.flexContactContainer4{
    display: flex;
}

.flexContactItem4{
    width: 350px;
}

.flexContactContainer5{
    display: flex;
}

.flexContactItem5{
    width: 350px;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-web_font.woff) format("woff");
}

.rootFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
}

.backgroundImage3 {
    width: 607px;
    height: 700px;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flexRight{
    display: flex;
    width: 607px;
    height: 700px;
}
#contact{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/formBack.png);
    background-size: cover;
}

.formContainer{
    width: 607px;
    height: 700px;
    text-align: center; 
} 

.submitButton {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/*the form ends here*/

/*Flight page starts here..............................................................................................................................*/

.flexHeaderContainer1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexHeaderContainer1{
    width: 100%;
    align-items: center; 
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/headerbackBack.png);
    background-size: cover;
    height: 350px;
}

.flexHeaderContainer2{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexbox1{
    display: flex;
    width: 50%;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

.flexbox2 {
    display: flex;
    width: 50%;
}

#Show {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#Sort_by {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.flexFlightContainer1{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flexFlightContainer2{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFlightItem1 img{
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer3{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.flexStarContainer1{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button3 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexInformationMoonContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 20px;
    float: left;
}

.flexFlightContainer4{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flexFlightContainer5{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFlightItem2 img{
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer6{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button4 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexFlightContainer7{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flexFlightContainer8{display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;}

    .flexFlightItem3 img{
        width: 350px;
        margin-left: 20px;
    }

.flexFlightContainer9{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button5 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexFlightContainer10{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flexFlightContainer11{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFlightItem4 img{
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer12{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button6 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexFlightContainer13{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flexFlightContainer14{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFlightItem5 img{
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer15{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button7 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexFlightContainer16{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.flexFlightContainer17{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFlightItem6 img{
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer18{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: right;
}

.checked {
    color: orange;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}

.button8 {
    background-color: #ff0000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.button9 {
    background-color: #c20000;
    color: #ffffff;
    padding: 270px, 70px;
    width: 270px, 70px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*Footer starts here..............................................................................................................................*/
.flexFooterContainer{
    display: flex;
    flex: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flexFooterContainer1{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFooterItem1 img{
    width: 26px 48px;
}

.flexFooterContainer2{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: center;
}

.flexFooterContainer3{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: center;
}

    .flexFooterItem2{
        flex-direction: row;
        width: 77px 77px;
        padding: 10px;
    }

    .flexFooterItem3{
        flex-direction: row;
        width: 77px 77px;
        padding: 10px;
    }

    .flexFooterItem4{
        flex-direction: row;
        width: 77px 77px;
        padding: 10px;
    }

    .flexFooterItem5{
        flex-direction: row;
        width: 77px 77px;
        padding: 10px;
    }

.flexFooterContainer4{
    flex: 100%;
    flex-direction: column;
    width: 100%;
}

.flexFooterItem6{
    flex-direction: column;
    float: left;
}

.flexFooterItem7{
    flex-direction: column;
    float: right;
}

/* divider line */
hr.solid {
    border-top: 3px solid #bbb;
}
