
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/*Headings/ text settings starts here............................................................................................................................................................................................*/  


h1{
    font-family: url(C:\Users\brink\Documents\GitHub\Nastasya_Brink_241346_DV100_Term1_Task3\assets\RedPlanetVentures\RedPlanetVentures\Assets\Fonts\porter_sans_block\porter-sans-inline-block-webfont.woff);
    font-size: 25px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h1.heading{
    font-family: 'Porter-sans-inline-block-webfont', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h2.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h3.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 50px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h4.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h5{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h6{
    color:#48aebf;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 30px;
}

h6.heading{
    color:#00d9ff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.text1{
    color:#48aebf;
    font-size: small;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 30px;
}

.text2{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #969696;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text3{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #00ffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #969696;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}


.text6{
    color:#ffffff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.text7{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text10{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.text9{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 20px;
}

.text11{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 30px;
}

.text12{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #6a00bc;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 30px;
}

.text13{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.text14{
    color: rgb(0, 0, 0);
    text-align: center;
}

.text15{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 32px;
    margin-top: 22px;
}

.text16{
    color: rgb(0, 0, 0);
    text-align: left;
}


p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

/*Headings/ text settings starts here............................................................................................................................................................................................*/ 

.flexHeaderImageContainer{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/homePageHeader.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: none;
}

.flexHeaderImageContainer2{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/headerbackBack.png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin: none;
}

/*navigation bar starts here............................................................................................................................................................................................*/  

/*navigation bar*/  
.topNav{ 
    overflow: hidden;
    background-color: #ffffffb1;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;
}

/* links inside the navigation bar */
.topNav a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 48px;
    text-decoration: none;
    font-size: 17px;
}

.topNav img{
    float: left;
}

.topNavCenter {
    float: center;
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* "active" element to highlight the current page */
.topNav a.active {
    background-color: #d03252;
    color: white;
}

.topNav a.active:hover {
    background-color: #ddd;
    color: black;
}

/* search box inside the navigation bar */
.topNav input[type=search] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

/*navigation bar ends here............................................................................................................................................................................................*/ 

.flexHomeContainer1{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 520px;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.flexHomeItem1 img{
    width: 350px;
    margin-left: 20px;
}

@font-face {
    font-family: 'PorterSans';
    src: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format(".woff");
}

.flexHomeContainerItem h1{
        max-width: 607px;
        text-align: center;
        margin: auto;
        font-size: 35px;
        font-family: 'PorterSans';
}
      
.flexHomeContainerItem h2{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: 'PorterSans';
}

.flexHomeContainer2{
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    background-color: #6a00bc;
}

.flexHomeItem1 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Slideshow starts here............................................................................................................................*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Slideshow end here............................................................................................................................*/

.flexHomeContainer4{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 30%;
    flex-direction: column;
    margin-left: 30px;
}

.button1{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    width: 40%;
    padding: 17px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.flexHomeContainer5{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.flexHomeContainer6{
    display: flex;
    padding: 5px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.flexHomeContainer7{
    display: flex;
    padding: 5px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.flexHomeItem2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexHomeContainer8{
    display: flex;
    width: 100%;
    height: 760px;
    flex-direction: column;
    background-color:#6a00bc;
}

.flexHomeContainer9{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.flexHomeContainer10{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 20px;
}

.rowItem {
    flex: 25%;
    padding: 5px;
}

.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
}
  
  .column {
    flex: 25%;
    padding: 5px;
}

.flexButtonContainer{
    display: flex;
    width: 100%;
    align-items: left;
    justify-content: left;
}

.button2{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 685px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
.button3{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 30px;
  }

  .button3:hover {
    background-color: #008CBA;
    color: white;
  }

  .button4{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button4:hover {
    background-color: #008CBA;
    color: white;
  }

  .button5{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button5:hover {
    background-color: #008CBA;
    color: white;
  }

  .w3-button{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #6a00bc;
    padding: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 30px;
  }

/*Contact Page starts here..........................................................................................................................................................................................................................................................................................................................................................................................*/

.flexHeadingContainer{
    width: 40%;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.flexParagraphContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    font-family: 'Poppins', sans-serif;
}

.flexContactContainer1{
    display: flex;
    flex-direction: row;
    height: 765px;
    margin-top: 80px;
}

.flexContactContainer2{
    display: flex;
    margin: 50px;
}

.flexContactItem1{
    margin-bottom: 50px;
}
/*...............................................................................................................................*/
.flexContactContainer3{
    display: flex;
    flex-direction: row;
    width: 100%
}

.flexContactContainer4{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px;
}

.flexContactContainer5{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px;
}

.flexContactContainer6{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexContactContainer7{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexContactContainer8{
    display: flex;
    flex-direction: row;
    width: 100%
}

.flexContactItem2{
   margin: none;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-web_font.woff) format("woff");
}

.rootFont p{
    font-family: 'Porter Sans Block';
}

.placeholder input[type=text] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.placeholder input[type=email] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.placeholder input[type=password] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

#contact{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/formBack.png);
    background-size: cover;
    width: 100%;
    height: 795px;
    border-radius: 5%;
}

.flexFormItem1{
    display: flex;
    width: 80%;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.flexFormItem2{
    display: flex;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: flex-start;
    border: none;
}
/*the form ends here*/

/*Flight page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/

.flexHeaderContainer1{
    display: flex;
    width: 100%;
    height: 345px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexHeaderContainer2{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6a00bc;
    margin-bottom: 2px;
}

.flexbox1{
    display: flex;
    width: 50%;
}

.flexbox2 {
    display: flex;
    width: 50%;
}

#Show {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#Sort_by {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.flexFlightContainer1{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 600px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer2{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.flexFlightItem1 img{
    display: block;
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer3{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
}

.flexStarContainer1{
    display: flex;
    width: 90%;
    max-width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    float: right;
    margin-left: 30px;
}

.one {
    color: orange;
}

.vl {
    border-left: 3px solid #bbb;
    height: 50px;
    left: 20%;
    margin-left: 50px;
    padding: 10px;
    top: 0;
}

.flexInformationContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
}


.flexFlightContainer4{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 630px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6a00bc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer5{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer6{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
}

.flexInformationContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: left;
}

.w3-button2{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #48aebf;
    padding: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 30px;
  }

  /*Image fade effect..............................................................................................................................*/

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .flexFlightContainer2:hover .overlay {
    opacity: 1;
  }
  
  .text8 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*Image fade effect..............................................................................................................................*/

/*About page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/

.flexAboutContainer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin-top: 70px;
    background-color: #ffffff;
}

.flexAboutContainer2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
}

.flexWorkContainer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #6a00bc;
    text-align: center;
}

.flexWorkContainer2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    text-align: center;
}

.flexWorkContainer3{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    margin-top: 30px;
}

.flexNumberContainer{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    margin-left: 60px;
    background-color: #6a00bc;
}

/*Cart page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/
.flexCartContainer1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 800px;
        background-color: #6a00bc;
        text-align: center;
}

.flexCartContainer2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    text-align: center;
}

.flexCartContainer3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    text-align: center;
}

.flexCartContainer4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: left;
}

.flexDisclaimerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

/*Footer starts here..............................................................................................................................*/
.flexFooterContainer{
    display: flex;
    flex: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.flexFooterContainer1{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFooterItem1 img{
    width: 50%;
    padding-left: 30px;
}

.flexFooterContainer2{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 20px;
    margin-left: 200px;
    position: relative;
}

.flexFooterContainer4{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

    .flexFooterItem2 img{
        flex: 25%;
        width: 77px;
        padding-right: 10px;
    }

.flexFooterContainer5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #000000;
}

.flexFooterItem6{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flexFooterItem6 div{
    padding: 0px 20px;
}

.flexFooterItem7{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.flexFooterItem7 div{
    padding: 0px 20px;
}

/* divider line */
