
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

@font-face {
    font-family: 'PorterSans';
    src: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}

/*Headings/ text settings starts here............................................................................................................................................................................................*/  
h1{
    font-family: 'PorterSans';
    font-size: 32px;
    color: #ff0000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
}


h1.heading{
    font-family: 'PorterSans';
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}
.text18{
    font-family: 'Poppins', serif;
    font-size: 25px;
    font-weight: 700;
    color: #6a00bc;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h2.heading1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 30px;
}

h2.heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-left: 32px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h3.heading{
    font-family: 'PorterSans';
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 30px;
    margin-left: 50px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h4.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
}

h5{
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h6{
    color:#48aebf;
    font-size: 14px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 30px;
}

h6.heading{
    color:#48aebf;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 50px;
}

.text1{
    color:#48aebf;
    font-weight: 500;
    font-size: medium;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 30px;
}

.text2{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #969696;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text3{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #00ffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #969696;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}


.text6{
    color:#ffffff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.text7{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
}

.text10{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.text9{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0px;
    margin-top: 20px;
}

.text11{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #6a00bc;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 20px;
}

.text12{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #6a00bc;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 30px;
}

.text13{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.text14{
    color: rgb(0, 0, 0);
    text-align: center;
}

.text15{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    margin-left: 32px;
    margin-top: 15px;
}

.text16{
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 20px;
    margin-right: 20px; 
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-right: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.text17{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0px;
}

.text19{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 30px;
}

.text20{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 50px;
}

/*Headings/ text settings starts here............................................................................................................................................................................................*/ 

.flexHeaderImageContainer{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/homePageHeader.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: none;
}

.flexHeaderImageContainer2{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/headerbackBack.png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin: none;
}

/*navigation bar starts here............................................................................................................................................................................................*/  
/* Navigation bar */
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffb1;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;
}

/* Centered links */
.topNavCenter {
    text-align: center;
    flex-grow: 1;
}

.topNavCenter a {
    display: inline-block;
    padding: 20px 24px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

/* Logo */
.logo-link {
    text-decoration: none;
}

.topNav img {
    width: 230px;
    height: auto;
    margin-left: 30px;
}

/* Search box and cart icon */
.topNavRight {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 12px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
}

.topNavRight{
    margin-right: 30px;
}

.buttonicon img {
    width: 25px;
    height: auto;
    margin-left: 0px;
}

/* Hover effects */
.topNav a:hover,
.topNav input:hover {
    background-color: #ddd;
    color: #000000;
}

/* Active link */
.topNav a.active {
    color: #ff0000;
    font-weight: bold;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .topNav {
        flex-wrap: wrap;
    }
    
    .topNavCenter {
        order: 1;
        flex-basis: 100%;
        text-align: center;
    }
    
    .topNavRight {
        order: 3;
        margin-top: 10px;
    }
}
/*navigation bar ends here............................................................................................................................................................................................*/

/*carousel starts here............................................................................................................................................................................................*/
.carousel-container {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: none;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: none; /* Hide all items by default */
}

.carousel-item.active {
    display: block; /* Show the active item */
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/*carousel ends here............................................................................................................................................................................................*/

.flexHomeContainer1{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 480px;
    margin-left: 100px;
}

.flexHomeItem1 img{
    width: 350px;
    margin-left: 20px;
}

      
.flexHomeContainerItem h2{
    max-width: 607px;
    text-align: center;
    margin: auto;
    font-size: 25px;
}

.flexHomeContainer2{
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    background-color: #6a00bc;
}

.flexHomeItem1 img{
    width: 609px;
    height:  649px;
    text-align: left;
    margin: 50px;
}

.flexHomeContainer3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Slideshow starts here............................................................................................................................*/
.flexHomeContainer3{
    display: flex;
    flex-direction: row;
}
/*Slideshow end here............................................................................................................................*/

.flexHomeContainer4{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 30%;
    flex-direction: column;
    margin-left: 30px;
}

.button1{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    width: 40%;
    padding: 17px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    margin-left: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.flexHomeContainer5{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.flexHomeContainer6{
    display: flex;
    padding: 5px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.flexHomeContainer7{
    display: flex;
    padding: 5px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 100px;
}

.flexHomeItem2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexHomeContainer8{
    display: flex;
    width: 100%;
    height: 770px;
    flex-direction: column;
    background-color:#6a00bc;
}

.flexHomeContainer9{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.flexHomeContainer10{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 20px;
}

.rowItem {
    flex: 25%;
    padding: 5px;
}

.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
}
  
  .column {
    flex: 25%;
    padding: 5px;
}

.flexButtonContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: left;
    justify-content: left;
}

.button2{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 685px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
.button3{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 30px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 30px;
  }

  .button3:hover {
    background-color: #008CBA;
    color: white;
  }

  .button4{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button4:hover {
    background-color: #008CBA;
    color: white;
  }

  .button5{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button5:hover {
    background-color: #008CBA;
    color: white;
  }

  .button6{
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #cc0404;
    padding: 17px 7px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 500px;
  }

  .button6:hover {
    background-color: #008CBA;
    color: white;
  }

  .w3-button {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #6a00bc;
    width: 150px; /* Increased width to accommodate input box and buttons */
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30px;
    align-items: center; /* Align items in the center vertically */
    justify-content: space-between; /* Add space between buttons and input */
}

.minus, .plus {
    background-color: #6a00bc;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px; /* Ensure buttons have rounded corners */
    padding: 10px; /* Add padding for better appearance */
}

.input-box {
    width: 50px; /* Adjust width of the input box */
    text-align: center;
    font-size: 16px;
}

  .w3-button2{
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #48aebf;
    width: 150px; /* Increased width to accommodate input box and buttons */
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30px;
    align-items: center; /* Align items in the center vertically */
    justify-content: space-between; /* Add space between buttons and input */
  }
  
  .minus2, .plus2 {
    background-color: #48aebf;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px; /* Ensure buttons have rounded corners */
    padding: 10px; /* Add padding for better appearance */
}

.input-box {
    width: 50px; /* Adjust width of the input box */
    text-align: center;
    font-size: 16px;
}
/*Contact Page starts here..........................................................................................................................................................................................................................................................................................................................................................................................*/

.flexHeadingContainer{
    width: 40%;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.flexParagraphContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    font-family: 'Poppins', sans-serif;
}

.flexContactContainer1{
    display: flex;
    flex-direction: row;
    height: 765px;
    margin-top: 80px;
}

.flexContactContainer2{
    display: flex;
    margin: 50px;
}

.flexContactItem1{
   display: flex;
}
/*...............................................................................................................................*/
.flexContactContainer3{
    display: flex;
    flex-direction: row;
    width: 100%
}

.flexContactContainer4{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.flexContactContainer5{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px;
}

.flexContactContainer6{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexContactContainer7{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 140px;
}

#map{
    margin-left: 30px;
}

.flexContactContainer8{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 30px;
}

.flexContactItem2 img{
        flex: 25%;
        width: 110px;
        padding-right: 10px;
}

@font-face{
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-web_font.woff) format("woff");
}

.rootFont p{
    font-family: 'Porter Sans Block';
}

.placeholder input[type=text] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.placeholder input[type=email] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.placeholder input[type=password] {
    padding: 20px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

#contact{
    background-image: url(../assets/RedPlanetVentures/RedPlanetVentures/Assets/Images/formBack.png);
    background-size: cover;
    width: 100%;
    height: 795px;
    border-radius: 5%;
}

.flexFormItem1{
    display: flex;
    width: 80%;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.flexFormItem2{
    display: flex;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: flex-start;
    border: none;
}

.flexFormItem3{
    display: flex;
    width: 80%;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.flexFormItem4{
    display: flex;
    width: 80%;
    background-color: #ffffffb1;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: flex-start;
    border: none;
}
/*the form ends here*/

/*Flight page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/

.flexHeaderFlightContainer1{
    display: flex;
    width: 100%;
    height: 345px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flexHeaderFlightContainer2{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6a00bc;
    margin-top: 5px;
}

.flexbox1{
    display: flex;
    width: 50%;
}

.flexbox2 {
    display: flex;
    width: 50%;
}

#Show {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#Sort_by {
    background-image: url('/css/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.flexFlightContainer1{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 600px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer2{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.flexFlightItem1 img{
    display: block;
    width: 350px;
    margin-left: 20px;
}

.flexFlightContainer3{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
}

.flexInformationContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
}


.flexFlightContainer4{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 630px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #6a00bc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer5{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flexFlightContainer6{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
}

.flexInformationContainer{
    display: flex;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: left;
}

  /*Image fade effect..............................................................................................................................*/

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .flexFlightContainer2:hover .overlay {
    opacity: 1;
  }
  
  .text8 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*Image fade effect..............................................................................................................................*/

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .flexStarContainer1{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

/*About page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/

.flexAboutContainer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
}

.flexAboutContainer2{
    display: flex;
    flex-direction: row;
    width: 100%;
  margin: 20px;
}

.flexAboutItem1{
    display: flex;
    flex-direction: row;
}

.flexAboutItem2{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.flexWorkContainer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #6a00bc;
    text-align: center;
}

.row1{
    display: flex;
    height: 400px;
}


.row2{
     display: flex;
     height: 750px;
}

.flexWorkContainer2{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 650px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: #ffffff;
}

.flexWorkContainer3{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    margin-top: 30px;
}



.flexNumberContainer{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 100px;
    background-color: #6a00bc;
}

.flexWorkItem1 img{
    display: flex;
    flex-direction: row;
    width: 320px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

/*Bookings page starts here..........................................................................................................................................................................................................................................................................................................................................................................................................................................................*/
.flexCartContainer1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 900px;
        background-color: #ffffff;
        text-align: center;
}

.flexCartContainer2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    text-align: center;
    margin: 50px;
}

.flexCartContainer3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    text-align: center;
    margin: 50px;
}

.flexCartContainer4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: left;
}

.flexDisclaimerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 95px;
}

.flexCartContainer5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    background-color: #6a00bc;
    text-align: center;
}

.flexCartContainer6 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    text-align: center;
    margin: 50px;
}

 /*Cart..............................................................................................................................*/
  

   /*Cart ends here..............................................................................................................................*/

/*Footer starts here......................................................................................................................................................................................................................................................................................................................................................................................................................................................*/
.flexFooterContainer{
    display: flex;
    flex: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.flexFooterContainer1{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    float: left;
}

.flexFooterItem1 img{
    width: 50%;
    padding-left: 30px;
}

.flexFooterContainer2{
    display: flex;
    flex: auto;
    width: 50%;
    max-width: 50%;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 20px;
    margin-left: 200px;
    position: relative;
}

.flexFooterContainer4{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

    .flexFooterItem2 img{
        flex: 25%;
        width: 77px;
        padding-right: 10px;
    }

.flexFooterContainer5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #000000;
}

.flexFooterItem6{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flexFooterItem6 div{
    padding: 0px 20px;
}

.flexFooterItem7{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.flexFooterItem7 div{
    padding: 0px 20px;
}

/* divider line */
